* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=search] {
  background-color: #f1f1f1;
  width: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: auto
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
#searchHistory{
  width: 500px;
}
@media only screen and (max-width: 600px) {
  #searchHistory {
    width:100%;
  }
}
.clearHistory{
  float: right;
  font-size: 12px;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}